$black-blue: rgb(12, 12, 15);

$dark-100: #7c7c83;
$dark-200: #707079;
$dark-300: #38393b;
$dark-400: #313135;
$dark-500: #2f3031;
$dark-600: #29292b;
$dark-700: #272729;
$dark-800: #212122;
$dark-900: #19191a;
$black:    #000;

$white:    #fff;
$light-100: #f1f1f1;
$light-200: #ececec;
$light-300: #e2e2e2;
$light-400: #dfdfdf;
$light-500: #cfcfcf;
$light-600: #bebebe;
$light-700: #b1b1b1;
$light-800: #acacac;
$light-900: #9b9b9b;

$gold-400: #f7cc4e;
$gold-500: #f6c73b;
$gold-600: #fac62b;
$gold-700: #fac320;
$gold-800: #fbc011;
$gold-900: #ffbf00;