@use 'abstracts' as *;

h1,
h2,
h5,
span {
    color: $white;
}

.movie-item {
    width: 100%;
    background: $dark-400;
    -webkit-transition: all 0.2s ease-out;
    transition: all 0.2s ease-out;
    .img-container {
        position: relative;
        min-width: 65px;
        height: 90px;
    }
    .info-container {
        overflow: hidden;
        .info-title {
            display: flex;
            align-items: center;
            .title {
                color: $white;
                font-size: 18px;
                font-weight: 400;
                letter-spacing: .7px;
                text-overflow: ellipsis;
                overflow: hidden;
                white-space: nowrap;
            }
            span {
                @include spanSearchText;
            }
        }
        .info-vote {
            margin-top: 5px;
            span {
                @include spanSearchText;
            }
        }
        .info-genres {
            a {
                @include spanSearchText;
                font-size: 16px;
                text-overflow: ellipsis;
                overflow: hidden;
                white-space: nowrap;
                color: rgb(55, 141, 238);
                cursor: pointer;
                &:hover {
                    color: rgb(110, 176, 252);
                }
            }
            
        }
    }
    &:hover {
        background: rgba($dark-400, 70%);
        -webkit-transition: all 0.2s ease-out;
        transition: all 0.2s ease-out;
        .info-container .info-title .title {
            color: $gold-400;
            span {
                color: $gold-400;
            }
            
        }
    }
}

fa-icon {
    color: $gold-500;
    margin-right: 6px;
    padding-top: 3px;
    font-size: 12px;
}