@use 'abstracts' as *;

swiper-container {
    swiper-slide {
        height: 100%;
        @include media-above(lg) {
            max-height: 519px;
        }
    }
}
.carousel-img-container {
    position: relative;
    @include media-above(lg) {
        width: 70%;
    }
    &::after {
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        display: block;
        content: "";
        background-image: linear-gradient(
            to top,
            $black,
            $black .5%,
            transparent 15%,
            transparent 100%
        );
        @include media-above(lg) {
            background-image: linear-gradient(
                to left,
                $black,
                $black .5%,
                transparent 15%,
                transparent 100%
            );
        }
    }
    img {
        max-inline-size: 100%;
        block-size: auto;
        aspect-ratio: 16/9;
    }
}

.carousel-caption {
    background: $black;
    padding: 0 1rem .5rem 1rem;
    cursor: pointer;
    @include media-above(lg) {
        position: relative;
        width: 30%;
    }
    .title h2 {
        color: $white;
        display: -webkit-box;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;
        text-overflow: ellipsis;
        overflow: hidden;
        @include media-above(lg) {
            max-height: 200px;
        }
    }
    .info-genres p {
        color: rgba(255, 255, 255, 0.8);
    }
    .info-container {
        .info {
            .vr {
                color: $light-300;
                opacity: 1;
                margin: 0 10px;
                padding-bottom: 0;
                margin-bottom: 0;
            }
            fa-icon {
                margin-right: 5px;
                padding-top: 3px;
                color: $gold-400;
                font-size: 12px;
            }
        } 
        .overview {
            overflow: hidden;
            @include media-above(lg) {
                position: absolute;
                bottom: 10px;
                padding-right: 20px;
            }
            span {
                font-size: 16px;
                font-weight: 300;
                letter-spacing: .5px;
                line-height: 20px;
                display: -webkit-box;
                -webkit-line-clamp: 2;
                -webkit-box-orient: vertical;
                text-overflow: ellipsis;
                overflow: hidden;
                @include media-above(lg) {
                    -webkit-line-clamp: 5;
                }
            }
        }
    }
    &:hover {
        .title h2 {
        color: $gold-400;
        }
    }
}
