@use 'abstracts' as *;

#searchBox {
    position: absolute;
    background: $dark-900;
    z-index: 300;
    height: $nav-height-sm;
}

.search-container {
    padding: 12px 0;
    .search-wrapper {
        position: relative;
    }
}

.select-container {
    position: absolute;
    min-width: 8rem;
    height: 100%;
    .select-btn {
        background: transparent;
        height: 100%;
        width: 100%;
        max-width: 8rem;
        border: none;
        outline: none;
        border-radius: 0;
        border-right: 1px solid $dark-800;
        &.dropdown-toggle::after {
            float: right;
            margin-top: 10px;
        }
        &:hover {
            background: $light-200;
        }
    }
    .dropdown-menu  {
        background: $dark-500;
        padding: 0;
        min-width: 8rem;
        .dropdown-item{
            color: $light-300 !important;
            padding: 10px 0 10px 10px;
            &:hover {
                color: $white !important;
            }
        }
    }
}

.search-btn {
    position: absolute;
    background: transparent;
    right: 0;
    height: 100%;
    padding: 0 10px;
    max-width: 8rem;
    border: none;
    outline: none;
    &:hover {
        color: $dark-300;
        
    }
}

.input-box {
    padding-left: 9rem;
    outline-color: $gold-900;
}

:host ::ng-deep #ngb-typeahead-0 { background-color: black;
    position: relative;
    padding: 0;
    width: 100%;
    border-radius: none;
    -webkit-box-shadow: $dark-box-shadow; 
    box-shadow: $dark-box-shadow;
    .dropdown-item {
        padding: 10px;
        border-bottom: 1px solid $dark-900;
        .img-container {
            position: relative;
            min-width: 65px;
            height: 90px;
            -webkit-transition: all 0.2s ease-out;
            transition: all 0.2s ease-out;
        }
        .info-container {
            margin-left: 15px;
            overflow: hidden;
            .info-title {
                display: flex;
                align-items: flex-end;
                .title {
                    color: $white;
                    font-size: 17px;
                    font-weight: 300;
                    letter-spacing: .7px;
                    text-overflow: ellipsis;
                    overflow: hidden;
                    white-space: nowrap;
                    span {
                        color: $white;
                        font-size: 17px;
                        font-weight: 400;
                        letter-spacing: .7px;
                    }
                }
                span {
                    font-size: 14px;
                    font-weight: 300;
                    letter-spacing: .4px;
                }
            }
            .item-type, p {
                color: $light-700;
                font-weight: 300;
            }
        }
        
        &:hover {
            -webkit-transition: all 0.2s ease-out;
            transition: all 0.2s ease-out;
            .info-container .title {
                color: $gold-400;
                span {
                    color: $gold-400;
                }
            }
        }
    }
}
