<div class="sidebar d-block d-lg-none" [@openCloseSidebar]="(showSidebar | async)">
    <div class="close-container d-flex justify-content-end align-items-center mb-4">
        <button class="close-btn me-3" (click)="onCloseSidenav()">
            <fa-icon [icon]="['fas', 'xmark']"></fa-icon>
        </button>
    </div>
    <ul class="sidebar-list">
        <li class="list-item" *ngFor="let item of sidebarMenuItems">
            <a 
                *ngIf="!item.hasDropdown"
                class="list-link"
                [routerLink]="item.route"
                routerLinkActive="list-link-active"
                (click)="onCloseSidenav()"
            >
                {{ item.label }}
            </a>
            <a 
                *ngIf="item.hasDropdown"
                class="list-link d-flex align-items-center justify-content-between"
                type="button"
                (click)="toggleDropdown()"
                [class.activeDrop]="dropdownOpen"
            >
                {{ item.label }}
                <fa-icon 
                    class="caret ps-0 pe-4" 
                    [icon]="['fas', 'caret-down']"
                    [@rotateCaret]="dropdownOpen ? false : true"
                >
                </fa-icon>
            </a>
            <div class="ps-4 activeDrop">
                <ul 
                    class="dropdown-menu rounded-0 py-0 overflow-hidden position-static"
                    [ngClass]="{ 'show': dropdownOpen ? dropdownOpen : !dropdownOpen }"
                    [@openCloseDropdown]="dropdownOpen ? true : false"
                >
                    <li class="dropdown-item" *ngFor="let sub of item.submenuList">
                        <a 
                            class="dropdown-link"
                            [routerLink]="sub.route" 
                            routerLinkActive="list-link-active"
                            (click)="onCloseDropdown(); onCloseSidenav()"
                        >
                            {{ sub.label }}
                        </a>
                    </li>
                </ul>
            </div>
        </li>
    </ul>
</div>

<div 
    class="overlay d-lg-none" 
    [ngClass]="{ 'show': (showSidebar | async) }" 
    (click)="onCloseSidenav()"
>
</div>