<div class="container-fluid py-5 px-3">
    <div class="wrapper mx-auto py-5">
        <h2 class="header mb-5 text-center">Thank You for Registering</h2>
        <div class="row">
            <div class="container col-12 col-md-8">
                <div class="formGroup" *ngIf="authService.userData as user">
                    <p class="p-dark text-center">
                        We have sent a confirmation email to <strong>{{ user.email }}</strong>.
                    </p>
                    <p class="p-dark text-center">
                        Please check your email and click on the link to verify your email address.
                    </p>
                </div>
                <div class="redirectTo d-flex justify-content-center mt-5">
                    <button 
                        type="submit" 
                        class="btn redirectLink"  
                        (click)="authService.sendEmailVerification(authService.userData)"
                    >
                        Resend Verification Email
                    </button>
                </div>
                <div class="redirectTo mt-5 pb-3 text-center">
                    <span class="p-dark"> 
                        Go back to?
                        <span class="redirectLink" [routerLink]="['/login']">
                            Log In
                        </span>
                    </span>
                </div>
            </div>
        </div>
    </div>
</div>