@use 'abstracts' as *;

.container-fluid {
    background-color: $light-600;
}

.wrapper {
    background: $light-100;
    @include media-above(sm) {
        max-width: 600px;
    }
    @include media-above(md) {
        max-width: 992px;
    }
    .header {
        color: $dark-600;
    }
}

.container-left {
    @include media-above(md) {
        border-right: 1px solid $dark-500;
    }
}

form {
    @include authForm;
}

.pass-container {
    @include passType;
}

.divider {
    width: fit-content;
    background-color: $light-100;
    span {
        font-size: 17px;
        line-height: 30px;
        color: $dark-600;
    }
}

.divider-horizontal {
    position: relative;
    text-align: center;
    span {
        left: 50%;
        font-size: 17px;
        color: $dark-600;
        &::before {
            position: absolute;
            content: "";
            left: 5%;
            top: 50%;
            width: 40%;
            height: 2px;
            background: black;
        }
        &::after {
            position: absolute;
            content: "";
            right: 5%;
            top: 50%;
            width: 40%;
            height: 2px;
            background: black;
        }
    }
}

.container-right h4 {
    margin-bottom: 30px;
}

.login-social-item {
    display: block;
    background: $light-300;
    padding: 15px 8px;
    margin-bottom: 20px;
    border: 1px solid $dark-900;
    border-radius: 4px;
    min-width: 100%;
    max-width: 300px;
    @include media-above(xs) {
        min-width: 290px;
        max-width: 300px;
    }
    .title {
        font-size: 18px;
        color: $dark-600;
    }
}

.redirectTo {
    @include redirectTo;
}