@use './styles/abstracts' as *;
@import './styles/bootstrap/bootstrap';



$themeColor: $red !default;
$navigationTopOffset: 20% !default;
$navigation-size: 44px;
$navigation-top-offset: 50%;
@import '../node_modules/swiper/swiper';

html {
    height: 100%;
}

body {
    height: 100%;
    width: 100%;
    font-family: $primary_font;
    font-weight: 400;
    background: $body-bg;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

a {
    color: $dark-link-color;
    // color: $light-200;
    &:hover {
        color: $dark-link-hover-color;
    }
}

p {
    // color: $white; //!!!
    // color: $dark-link-color;
    color: $light-200;
}

span {
    color: $dark-span-color;

}

.p-dark {
    color: $dark-800;
}